[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "*"
flask = "*"
websockets = "*"
asyncio = "*"
aiofiles = "*"
aioconsole = "*"
pocketsphinx = "*"
speechrecognition = "*"
espnet = "*"
espnet-model-zoo = "*"
matplotlib = "*"
pysndfile = "*"
vosk = "*"

[dev-packages]

[requires]
python_version = "3.9"
